albumentations==0.3.0
apex==0.1
asn1crypto==0.24.0
backcall==0.1.0
beautifulsoup4==4.7.1
catalyst==19.6.5
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cnn-finetune==0.5.3
conda==4.6.14
conda-build==3.17.8
crc32c==1.7
cryptography==3.2
cycler==0.10.0
decorator==4.4.0
filelock==3.0.10
future==0.17.1
glob2==0.6
gym==0.14.0
idna==2.8
imageio==2.5.0
imgaug==0.2.6
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
joblib==0.14.0
jsonpatch==1.24
jsonpointer==2.0
kiwisolver==1.1.0
libarchive-c==2.8
lief==0.9.0
lz4==2.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
munch==2.3.2
networkx==2.3
numpy==1.17.2
olefile==0.46
opencv-python==4.1.1.26
opencv-python-headless==4.1.1.26
pandas==0.25.1
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pkginfo==1.5.0.1
plotly==4.1.1
pretrainedmodels==0.7.4
prompt-toolkit==2.0.9
protobuf==3.10.0
psutil==5.6.2
ptyprocess==0.6.0
pyarrow==0.14.1
pycosat==0.6.3
pycparser==2.19
pyglet==1.3.2
Pygments==2.3.1
pymongo==3.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==18.1.0
redis==3.3.8
requests==2.21.0
retrying==1.3.3
ruamel-yaml==0.15.46
safitty==1.2.5
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
six==1.12.0
soupsieve==1.8
tensorboardX==1.8
timm==0.1.14
torch==1.1.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.2.2
tornado==6.0.3
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.2
visdom==0.1.8.9
wcwidth==0.1.7
websocket-client==0.56.0